/* =====================================
   Page Styles
======================================== */

* {
  box-sizing: border-box;
}
body {
  font-size: 1.4em;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
.container > * {
  color: #fff;
  text-shadow: 0 2px 0 rgba(110,133,156,0.12);
  padding: 0.85em;
  border: solid 1px rgba(110,133,156,0.15);
}
header {
  background-color: #fbaea8;
}
nav {
  background-color: #fbaea8;
}
main {
  background-color: #aad2ed;
}
aside {
  background-color: #6ad78a;
}
footer {
  background-color: #6e859c;
}

/* =====================================
   Grid Layout
======================================== */

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 100px minmax(200px, 1fr)  100px;
  grid-gap: 10px;
  grid-template-areas:
          "header header"
          "main categories"
          "footer footer";
}

header {
  grid-area: header
}

main {
  grid-area: main;
}

categories{
  grid-area: categories;
}

footer {
  grid-area: footer;
}